<div class="container mt-4">
    <h2>Liste des Posts</h2>
    <div class="accordion" id="accordionPosts">
      <div class="accordion-item" *ngFor="let post of posts; let i = index">
        <h2 class="accordion-header" id="heading{{ i }}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i"
            aria-expanded="true"
            [attr.aria-controls]="'collapse' + i"
          >
            {{ post.titre }}
          </button>
        </h2>
        <div
          [id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="i === 0"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionPosts"
        >
          <div class="accordion-body">
            {{ post.contenu }}
          </div>
        </div>
      </div>
    </div>
  </div>
  